<!DOCTYPE html>
<html>
<head>
    <title>Your Delivery Boy Account Credentials</title>
</head>
<body>
    <h2>Welcome to NurtureNest Delivery Team!</h2>
    <p>Dear {{ first_name }},</p>
    <p>Your delivery boy account has been created. Here are your login credentials:</p>
    <p>Email: {{ email }}</p>
    <p>Password: {{ password }}</p>
    <p>Please login at: <a href="http://127.0.0.1:8000/login">http://127.0.0.1:8000/login</a></p>
    <p>Please change your password after your first login.</p>
    <p>Best regards,<br>NurtureNest Team</p>
</body>
</html>